<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>
    <!-- Die style.css muss aus allen HTML-Dateien verlinkt werden-->
    <link rel="stylesheet" href="stylesheet.css">
    <!--Es gibt im Internet Dienste, die Styles zur Verfügung stellen. Beispiel: font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
</head>
<body>
    <header>
        <!--Das Symbol der Bank wird aus font awesome geladen-->
        <i class="fa-solid fa-building-columns"></i>
        <br>
        <br>
        <a href="index.html"><i class="fa-solid fa-house"></i>Startseite</a>
        <a href="hilfe.html"> <i class="fa-solid fa-circle-info"> </i>Hilfe</a>
        <a href="postfach.html"> <i class="fa-solid fa-envelope"> </i>Postfach</a>
        <a href="profil.html"> <i class="fa-solid fa-user"> </i>Profil</a>
        <a href="agb.html"> <i class="fa-solid fa-file"> </i>AGB</a>
    </header>

<main>
    <br>
    <h1>Allgemeine Geschäftsbedingungen der Bank-Borken</h1>

   
        <h2>1. Geltungsbereich</h2>
    <p>  Die nachfolgenden Allgemeinen Geschäftsbedingungen gelten für sämtliche Geschäftsbeziehungen zwischen der BankBorken und ihren Kunden, soweit nicht anders vereinbart wurde.
    </p>

    <h2> 2. Kontoführung</h2> 
    <p>Die BankBorken bietet ihren Kunden die Möglichkeit der Kontoführung in Form von Girokonten, Sparbüchern, Tagesgeldkonten und anderen Kontenformen an. Die Kontoführung erfolgt auf Basis der jeweils geltenden Tarife und Konditionen.
    </p>
        
     <h2>3. Einlagen</h2> 
     <p>  Einlagen der Kunden bei der BankBorken sind durch die gesetzliche Einlagensicherung geschützt. Die Höhe der Einlagensicherung richtet sich nach den gesetzlichen Bestimmungen.
    </p>
        
    <h2>4. Dispositionskredit</h2> 
    <p>   Die BankBorken gewährt ihren Kunden unter bestimmten Voraussetzungen einen Dispositionskredit. Die Nutzung des Dispositionskredits erfolgt auf eigene Gefahr des Kunden. Die BankBorken behält sich das Recht vor, den Dispositionskredit jederzeit zu kündigen oder zu reduzieren.
    </p>
        
    <h2>5. Überweisungen</h2> 
    <p>  Überweisungen von und auf Konten bei der BankBorken erfolgen auf Basis der SEPA-Regelungen. Für Überweisungen gelten die jeweils geltenden Gebühren und Kosten.
    </p>
        
    <h2>6. Haftung</h2> 
    <p>   Die BankBorken haftet gegenüber ihren Kunden nur für Vorsatz und grobe Fahrlässigkeit. Die Haftung für leichte Fahrlässigkeit ist ausgeschlossen, soweit es sich nicht um Schäden an Leben, Körper oder Gesundheit handelt.
    </p>
       
    <h2>7. Datenschutz</h2> 
    <p>   Die BankBorken erhebt, verarbeitet und nutzt personenbezogene Daten ihrer Kunden gemäß den gesetzlichen Bestimmungen zum Datenschutz. Die Kunden haben ein Recht auf Auskunft, Berichtigung und Löschung ihrer Daten.
    </p>
        
    <h2>8. Änderung der AGB</h2> 
    <p>  Die BankBorken behält sich das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern. Die geänderten Bedingungen werden den Kunden rechtzeitig mitgeteilt und gelten als genehmigt, wenn der Kunde nicht innerhalb einer Frist von vier Wochen widerspricht.
    </p>
        
    <h2>9. Gerichtsstand und anwendbares Recht</h2>
    <p>  Für Streitigkeiten aus dem Vertragsverhältnis zwischen der BankBorken und ihren Kunden ist ausschließlich das örtlich zuständige Gericht am Sitz der BankBorken zuständig. Es gilt deutsches Recht.
    </p>
    
    <p> Borken, den 09.04.2024</p>
       
        
    <p> BankBorken   </p>

    
</main>



<p></p>



    <footer>
        <i class="fa-brands fa-instagram"></i> Bank-Borken
        <br>
        <i class="fa-brands fa-facebook"></i> Bank-Borken
        <br>
        <i class="fa-solid fa-phone"></i> 03674 / 735845
        <br>
        <i class="fa-solid fa-location-dot"></i> Bankstraße 20
        <br>
        <a href="https://www.bank-borke.de"> <i class="fa-solid fa-globe"> </i>Zur Homepage</a>
    </footer>

</body>
</html>