<!--HTML-Grundger체st 체ber die Einhabe html und dann html 5 ausw채hlen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <titel>Bank-Borken</titel>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der Titel steht im Browsertab-->
    <title>Bank-Borken</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header>
        <!--Der >Header soll die Seite strukturieren und bekommt entsprechenden Style zugewiesen-->
        <h1>Bank Borken</h1>
    </header>
    <!--Formularfelder (Textboxen, Buttons, ...) m체ssen in form-Tags eingebettet werden-->
    <form>
        <!--Die Labels beschreiben die textboxen, br bricht die zeile um-->
        <h2>Login</h2>
            <label>Benutzername</label><br>
            <input type="text" name="benutzername" id="benutzername" focus><br>
            <label>Kennwort</label><br>
            <input type="password" name="kennwort" id="kennwort"><br>
            <input type="submit" value="einloggen">
    </form>

    <footer> ..</footer>
    


            
               
</body>
</html>