<!--HTML-Grundgerüst über die Einhabe html und dann html 5 auswählen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der Titel steht im Browsertab-->
    <title>Bank-Borken</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header>
        <!--Der >Header soll die Seite strukturieren und bekommt entsprechenden Style zugewiesen-->
        <i class="fa-solid fa-building-columns"></i>
        <h1>Herzlich Willkommen bei der Bank Borken</h1>
    </header>
    <!--Formularfelder (Textboxen, Buttons, ...) müssen in form-Tags eingebettet werden-->
    <form>
        <!--Die Labels beschreiben die textboxen, br bricht die zeile um-->
        <h2>Login</h2>
            <label>Benutzername</label><br>
            <input type="text" name="benutzername" id="benutzername" focus><br><br>
            <label>Kennwort</label><br>
            <input type="password" name="kennwort" id="kennwort"><br><br>
            <input type="submit" value="einloggen">
    </form>
<br>
    <footer>
        <i class="fa-brands fa-instagram"></i> Bank-Borken
        <br>
        <i class="fa-brands fa-facebook"></i> Bank-Borken
        <br>
        <i class="fa-solid fa-phone"></i> 03674 / 735845
        <br>
        <i class="fa-solid fa-location-dot"></i> Bankstraße 20
        <br>
        <a href="https://www.bank-borke.de"><i class="fa-solid fa-globe"></i>Zur Homepage</a>
    </footer>
               
</body>
</html>